* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  text-align: center;
  position: sticky;
  top: 0;
}

.header-content {
  padding: 0 2rem 2rem 2rem;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 1.5rem;
  margin-top: 5px;
  width: 60px;
  height: 50px;
}

.navbar-content {
  background-color: red;
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 10px;
  height: 50px;
  position: sticky !important;
  top: 0;
  height: 80px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.element {
  max-width: 380px;
  margin: 2rem 3rem;
  object-fit: cover;
  text-align: center;
  background: linear-gradient(0deg, rgb(6, 134, 233) 0%, rgb(224, 20, 44) 100%);
  color: white;
  border-radius: 5px;
  box-shadow: rgb(255 255 255 / 10%) 0px 1px 1px 0px inset,
    rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}
.element img {
  width: 380px;
  height: 380px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.element p {
  font-size: 1.2rem;
  padding: 0.3rem;
}

.element span {
  font-size: 1rem;
}

.buyAndSellContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-sell {
  background-color: rgb(255, 0, 195);
  color: #fff;
  font-weight: bold;
  transition: transform 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.btn-sell:hover {
  transform: scale(1.2);
}
.btn-buy {
  background-color: rgb(0, 255, 187);
  color: blue;
  font-weight: bold;
  transition: transform 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.btn-buy:hover {
  transform: scale(1.2);
}
.TextMoney {
  font-size: 25px;
  margin-top: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}
.Cart {
  text-align: center;
}
.textMoney {
  text-align: center;
  margin: 0 auto;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: 5px 20px;
  text-align: center;
}

tr,
td {
  border: 1px solid black;
  padding: 15px;
  margin: 0 auto;
}

tr:nth-child(odd) {
  background-color: lightblue;
}

tr:nth-child(even) {
  background-color: rgb(253, 213, 220);
}
#conlonbietnhay {
  position: relative;
  left: 500px;
  width: 300px;
  height: 300px;
  top: 300px;
}
